    body{
      height: 1000px;
    }

    .main{
      display: grid;

      margin-left: auto;
      margin-right: auto;
      margin-top: 90px;
      max-width: 850px;

      padding-left: 30px;
      padding-right: 30px;
    }

    .back-to-orders-link{
      display: inline-block;
      margin-bottom: 20px;
    }

    .delivery-date{
      margin-bottom: 10px;

      font-size: 25px;
      font-weight: bold;
    }

    .product-info{
      margin-top: 3px;
    }

    .product-image{
      margin-top: 25px;
      margin-bottom: 30px;

      max-height: 150px;
      max-width: 150px;
    }

    .progress-labels-container{
      
      display: flex;
      
      font-size: 20px;
      font-weight: 500;
      justify-content: space-between;

      margin-top: 30px;
      margin-bottom: 15px;
    }

    @media (max-width: 450px) {
    .progress-labels-container {
      flex-direction: column;
      margin-bottom: 5px;
    }
  }


    .progress-label{
      font-size: 20px;
    }

    @media(max-width: 575px) {
      .progress-label{
        font-size: 16px;
      }
    }

    .current-status{
      color: rgb(6, 125, 98);
    }


  .progress-bar-container {
    height: 25px;
    width: 100%;

    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
    overflow: hidden;
}

  .progress-bar {
    height: 100%;
    background-color: green;
    border-radius: 50px;
    width: 50%;
  }
